.pagination {
    display: block;
    width: min(max-content, 600px);
    height: max-content;
    justify-self: center;
    text-align: center;
    align-content: center;
    margin-block-end: 72px;
}

.pagination button, span {
    margin: 0 16px;
    width: 28px;
    font-size: 24px;
    transition: transform 0.2s ease-in;
    
}

.active {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;
}

.pagination button:not(.active) {
    color: #AAAAAA;
}

.pagination span {
    color: #AAAAAA;
}
