.header {
    height: clamp(2rem, 1.667rem + 0.694vi, 2.5rem);
    padding: 0 60px;
    margin: 24px max(0px, calc((100vw - 1920px) / 2)) 0;
}

.header__nav_list {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.header__nav_item {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    width: clamp(1.5rem, 1.167rem + 0.694vi, 2rem);
}