.footer {
    background-color: #F6F6F6;
    width: 100vw;
    height: 200px;
}

.footer__container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 144px;
    list-style-type: circle;
}

.footer__element {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    width: 252px;
    height: 40px;
    text-align: center;
}

.footer__element:nth-child(odd):before {
    content: "∘";
    align-self: center;
    padding-inline-end: 10px;
}

.footer__element button {
    display: flex;
    font-size: 20px;
    height: 100% ;
    align-items: center;
}

.footer__element button img {
    object-fit: contain;
}

.footer__socials_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 56px;
}

.footer__socials_element {
    height: 36px;
    width: 40px;
}

.footer__socials_element button {
    height: 100%;
}

.footer__socials_element button img {
    height: 100%;
    object-fit: contain;
}